<h1>Bill <small>Uploaded <%= @bill.created_at.localtime.strftime("%l:%M%p %h %e %Y") %></small></h1>
<div>
  <%= link_to @bill.csv.file.filename, @bill.csv.url %><br>

  <hr>

  <% if @bill.invalid_calls.any? %>
    <h2>Invalid Calls</h2>
    <table>
      <thead>
        <tr>
          <th>Line Number</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Cost</th>
        </tr>
      </thead>
      <% @bill.invalid_calls.each do |call| %>
        <tr>
          <td><%= call.lineno %></td>
          <%= generate_invalid_call_field(call, :source) %>
          <%= generate_invalid_call_field(call, :destination) %>
          <%= generate_invalid_call_field(call, :date) %>
          <%= generate_invalid_call_field(call, :time) %>
          <%= generate_invalid_call_field(call, :duration) %>
          <%= generate_invalid_call_field(call, :cost) %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h2>Reports</h2>
    <table>
      <thead>
        <tr>
          <th>Source Number</th>
          <th>Total Calls</th>
          <th>Total Duration</th>
          <th>Total Cost</th>
          <th>Average Duration</th>
          <th>Average Cost</th>
        </tr>
      </thead>
      <% @totals.each do |source, totals| %>
        <tr>
          <td><%= source %></td>
          <td><%= totals['count'] %></td>
          <td><%= format_duration(totals['duration']) %></td>
          <td><%= totals['cost'] %></td>
          <td><%= format_duration(totals['avg_duration']) %></td>
          <td><%= number_to_currency(totals['avg_cost']) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
